.GameBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cellsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3% 0;
  overflow: auto;
  height: 69vh;
}

.individualCell {
  border: 0.1px solid #999;
  height: 2.2em;
  margin-right: -1px;
  margin-top: -3px;
  width: 3.8%;
}

.row {
  width: 44%;
  display: flex;
  justify-content: center;
}

.generationsParagraph {
  color: orange;
  margin-top: 0.3%;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.buttonsContainer {
  margin-top: 0.7%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.controlButton {
  color: white;
  font-size: 24px;
  padding: 16px 16px;
  border-radius: 8px;
}

.rules {
  background-color: black;
  font-size: 1.3rem;
  color: Silver;
  font-weight: bold;
}
